@keyframes swing-in-top-fwd {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.collapse-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.collapse-container {
    width: 1023px;
    height: 54px;
    overflow: hidden;
    transition: height 0.3s ease;
    margin: 10px 0 20px 0;
    border-radius: 5px;
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
    height: auto;
  }
  
  .open {
    height: auto;
  }
  
  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    cursor: pointer;
    background-color: #FF6060;
    padding: 4px 10px 4px 10px;
  }
  
  .collapse-title {
    color: #fff;
    font-size: 24px;
  }
  
  .collapse-content {
    background-color: #f6f6f6;
    padding: 8px;
    color: #FF6060;
    font-size: 18px;
    animation: swing-in-top-fwd 0.7s both;
    transition: transform 0.7s ease, opacity 0.7s ease;
    transform-origin: top; 
  }

  .collapse-title.open {
    transform: scaleY(1.02);
    opacity: 1;
    display: flex;
    align-items: center;
  }
  
  .arrowback {
    transition: transform 0.9s ease;
    margin-bottom: 3px;
  }
  
  .arrowback.rotate {
    transform: rotate(180deg);
  }
  

/* Large devices (tablets, less than 992px) */

@media only screen and (max-width: 992px) {

  .collapse-container {
    max-width: 992px;
    width: 90%;
    height: 30px;
    display: inline-block;
    align-items: flex-start;
    margin: 0px 20px 15px 20px;
    transition: height 0.3s ease;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .open {
    height: auto;
  }
    
    .collapse-title {
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      padding: 0 5px;
      font-size: 13px;
      margin-bottom: 5px;
    }
    
    .collapse-content {
      padding: 15px;
      font-size: 12px;
    }

    .arrowback img {
      width: 25px;
      height: 25px;
      }

}

      /* Medium devices (phones, less than 576px) */

@media only screen and (max-width: 576px) {

  .collapse-container {
    max-width: 576px;
    width: 90%;
    height: 30px;
    display: inline-block;
    align-items: flex-start;
    margin: 0px 20px 15px 20px;
    transition: height 0.3s ease;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .open {
    height: auto;
  }
    
    .collapse-title {
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      padding: 0 5px;
      font-size: 13px;
    }
    
    .collapse-content {
      padding: 10px;
      font-size: 12px;
    }

    .arrowback img {
      width: 25px;
      height: 25px;
      }

}

/* Small devices (phones, less than 375px) */

@media only screen and (max-width: 375px) {

  .collapse-container {
    width: 335px;
    height: 30px;
    display: inline-block;
    align-items: flex-start;
    margin: 0px 20px 15px 20px;
    transition: height 0.3s ease;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .open {
    height: auto;
  }
    
    .collapse-title {
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      padding: 0 5px;
      font-size: 13px;
      margin-bottom: 10px;
    }
    
    .collapse-content {
      padding: 10px;
      font-size: 12px;
    }

    .arrowback img {
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
      }

}