.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  width: 1240px;
  margin: 40px auto;
  border-radius: 25px;
  overflow: hidden; 
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/homebanner.png');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}

.desktop-title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 500;
  color: white;
  z-index: 3;
}

.mobile-title {
  display: none;
}


/* Large devices (tablets, less than 992px) */
@media only screen and (max-width: 992px) {

  .desktop-title {
    display: none; 
  }

  .mobile-title {
    display: block;
    width: auto;
    font-family: Montserrat;
    font-size: 35px; 
    font-weight: 500;
    color: white;
    z-index: 3;
  }

  .image-container {
    height: 111px;
    width: auto;
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
  }
}

/* Medium devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {

  .desktop-title {
    display: none; 
  }

  .mobile-title {
    display: block;
    width: auto;
    font-family: Montserrat;
    font-size: auto; 
    font-weight: 500;
    color: white;
    z-index: 3;
  }

  .image-container {
    height: 111px;
    width: auto;
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
  }
}

/* Small devices (phones, less than 375px) */
@media only screen and (max-width: 375px) {

  .desktop-title {
    display: none; 
  }

  .mobile-title {
    display: block;
    width: 300px;
    font-family: Montserrat;
    font-size: 24px; 
    font-weight: 500;
    color: white;
    z-index: 3;
  }

  .image-container {
    height: 111px;
    width: 335px;
    margin: 20px auto;
    border-radius: 10px;
  }
}
