.card-container {
    width: 1240px;
    height: 829px;
    background-color: #f6f6f6;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    padding: 5px; 
    margin: auto; 
    margin-bottom: 40px;
  }
  
/* Small devices (phones, less than 375px) */

@media only screen and (max-width: 375px) {
  
    .card-container {
      width: 90%;
      height: auto;
      grid-template-columns: 1fr;
      background-color: #fff;
      margin-bottom: 10px;
    }
  
    .card {
      margin: 10px auto;
    }
  }
  