.about-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 223px;
  width: 1240px;
  margin: 40px auto;
  border-radius: 25px;
  overflow: hidden; 
}

.about-background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
  
  .about-background-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/aboutbanner.png');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
  }

  /* Large devices (tablets, less than 992px) */
@media only screen and (max-width: 992px) {

  .about-image-container {
    height: 111px;
    width: auto;
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
  }
}

/* Medium devices (phones, less than 768px) */
@media only screen and (max-width: 768px) {

  .about-image-container {
    height: 111px;
    width: auto;
    margin: 20px auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
  }
}

  /* Small devices (phones, less than 375px) */
@media only screen and (max-width: 375px) {

  .about-image-container {
    height: 111px;
    width: 335px;
    margin: 20px auto;
    border-radius: 10px;
  }
}