.fiche-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin-left: 100px;
    margin-top: 40px;
  }

  .fiche-location {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    margin-left: 105px;
  }

  .tags {
    display: flex;
    margin-left: 105px;
  }
  
  .tag {
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #FF6060;
    color: #fff;
    font-size: 14px;
  }

  .containeur-un {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 110px 0 0px;
  }

  .host-name {
  font-family: Montserrat;
  font-size: 18px;
  color: #FF6060;
  margin-top: -3px;
  }

  .containeur-deux {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    margin-top: -25px;
  }

  .containeur-trois {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 110px 0 0px;
  }

  .collapse-view {
    display: flex;
    justify-content: space-around; 
    margin-left: -38px;   
    margin-right: 170px;
  }

  .desktop-view {
  display: block;
  }

  .mobile-view {
  display: none; 
  }

/* Large devices (tablets, less than 992px) */

@media only screen and (max-width: 992px) {

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block; 
  }

  .fiche-title {
    font-size: 30px;
    margin-left: 25px;
    margin-top: 20px;
  }

  .fiche-location {
    font-size: 16px;
    margin-left: 25px;
  }

  .tags {
    display: flex;
    margin-left: 20px;
  }
  
  .tag {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 10px;
  }

  .mobile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 20px 20px;
  }

  .host-name {
  font-size: 12px;
  margin-top: 5px;
  }

  .containeur-deux {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-right: 20px;
  }

  .host-picture {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin-top: -5px;
  }
}

/* Medium devices (phones, less than 768px) */

@media only screen and (max-width: 992px) {

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block; 
  }

  .fiche-title {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 20px;
  }

  .fiche-location {
    font-size: 14px;
    margin-left: 25px;
  }

  .tags {
    display: flex;
    margin-left: 20px;
  }
  
  .tag {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 10px;
  }

  .mobile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 20px 20px;
  }

  .host-name {
  font-size: 12px;
  margin-top: 5px;
  }

  .containeur-deux {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-right: 20px;
  }

  .host-picture {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin-top: -5px;
  }
}  

/* Small devices (phones, less than 375px) */

@media only screen and (max-width: 375px) {

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block; 
  }

  .fiche-title {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 20px;
  }

  .fiche-location {
    font-size: 14px;
    margin-left: 25px;
  }

  .tags {
    display: flex;
    margin-left: 20px;
  }
  
  .tag {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 10px;
  }

  .mobile-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 20px 20px;
  }

  .host-name {
  font-size: 12px;
  margin-top: 5px;
  }

  .containeur-deux {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-right: 20px;
  }

  .host-picture {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin-top: -5px;
  }
}