$primary-color: #FF6060;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}  

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: white;
  padding: 10px;

  img {
    width: 210px;
    height: 68px;
    margin: 15px 20px 0px 100px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    margin-right: 100px;
    margin-top: 15px;

    .nav-link {
      color: $primary-color;
      text-decoration: none;
      margin-right: 40px;
      font-size: 22px;

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}

/* Styles pour les petits écrans (moins de 992px) */

@media only screen and (max-width: 992px) {
  nav {
    display: flex;
    justify-content: space-between; 
    width: auto;
    align-items: center;
    background-color: white;
    padding: 10px;

    img {
      width: 145px;
      height: 46px;
      margin: 15px 20px 0px 15px;
    }

    .nav-links {
      margin-right: 40px;
      margin-top: 15px;
    }
    
      .nav-link {
        font-size: 25px;
        margin-right: 20px;
      }
    }
  }

/* Styles pour les petits écrans (moins de 768px) */

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between; 
    width: auto;
    align-items: center;
    background-color: white;
    padding: 10px;

    img {
      width: 145px;
      height: 46px;
      margin: 15px 20px 0px 15px;
    }

    .nav-links {
      display: flex;
      align-items: center;
      margin-right: 5px;
      margin-top: 15px;

      .nav-link {
        text-transform: uppercase;
        font-size: 12px;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        &:hover,
        &:focus,
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}
