.carousel-container {
  position: relative;
  width: 1240px;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
  margin: auto;
  margin-top: 40px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 0;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

.prev-button,
.next-button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 90px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: #fff;
  }

  &.prev-button {
    left: 10px;
  }

  &.next-button {
    right: 10px;
  }
}

.slide-number {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

/* Small devices (phones, less than 375px) */

@media only screen and (max-width: 375px) {
    
  .carousel-container{
  width: 335px;
  height: auto;
  margin: auto;
  margin-top: 20px;
  position: relative;
  border-radius: 10px;
  background-size: contain;
}

.prev-button,
.next-button {
  top: 45%;
  font-size: 50px;
}

.slide img {
  width: 100%;
  height: 255px;
  display: block;
  margin: 0 auto;
}

}