html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }  

.footer-nav {
    background-color: #000;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      margin-left: 40px;
    }
  
    .text-footer {
      margin-top: 10px;
      color: #fff;
      margin-bottom: -20px;
    }
  }
  

  
/* Small devices (phones, less than 375px) */

@media only screen and (max-width: 375px) {

  .text-footer {
    margin-top: 10px;
    color: #fff;
    margin-bottom: -20px;
    font-size: 12px;
  }
  
}